.advice{
    padding-top: 60px;
    padding-bottom: 60px;
}
.advice_visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.advice_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    @media (min-width:768px) {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    @media (min-width:1200px) {
        margin-top: 93px;
    }
}
.advice_iten{
    
    
    &:last-child {
        margin-bottom: 0;
    }

    @media (min-width:768px) {
        flex-basis: 47%;
        &:nth-child(-n+2) {
            margin-bottom: 30px;
            
        }
        &:nth-child(odd) {
        
            margin-right: 30px;
        }
    }
    @media (min-width:1200px) {
        &:nth-child(2) {
            margin-right: 30px;
        }
        
    }
    
}

// .advice_iten:not(:last-child) {
//     margin-right: 30px;
// }
.advice_div-input {
    display: flex;
    max-width: 450px;
    height: 120px;
    background-color: var(--primary-light-bg);
    border-radius: 4px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;

    @media (min-width:768px) {
        max-width: 354px;
        height: 120px;
    }
    @media (min-width:1200px) {
        max-width: 270px;
        height: 120px;
    }
}
.advice_input {
    width: 70px;
    height: 70px;
    background-size: 50%;
}
.advice_subtitle {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-light-txt);

    @media (min-width:768px) {
        width: 270px;
        height: 16px;
        justify-content: flex-start;
    }
}
.advice_descr {
    
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-light-txt);

    @media (min-width:768px) {
        
    }
    @media (min-width:1200px) {
        width: 270px;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--secondary-light-txt);
    }
}

