.footerr {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--primary-dark-txt);
    margin-bottom: 20px;
    text-align: center;
    
  }
.footerr-list {
    display: flex;
    margin-bottom: 60px;

    @media (min-width:768px) {
        margin-bottom: 0;
    }
}
.footerr-svg {
    display: block;
    width: 20px;
    height: 20px;
    background-position: center;
}
.footerr{
    border-radius: 50%;
    background-color: var(--background);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &-item:not(:last-child) {
        margin-right: 10px;
    }
}
.footerr-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    fill: var(--color-letra);
    background: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &-link:hover,
    &-link:focus {
        background-color: var(--accent-txt);
    }
}
.footerr-deskription {
    margin-left: 130px;

    @media (min-width:768px) {
        margin-left: 0;
        margin-right: 89px;
    }
}







.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--primary-dark-bd);
    


    
    &-item:not(:last-child) {
        margin-bottom: 10px;
    }
}

.footer-left {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width:768px) {
        
    }
}
.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-dark-txt);
}
.footer-all {
    margin-top: 20px;
    font-style: normal;
    display: flex;
    text-align: center;
    margin-bottom: 60px;
}
.footer-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-dark-txt);
}
.footer-mail {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-phone {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.column {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
}









.form-input {
    width: 450px;
    height: 50px;
    margin-bottom: 20px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
   
    & {
    
        color: var(--primary-dark-txt);
    }
}

// .form{
//     width: 50px;
// }
.form-label {
    width: 448px;
    height: 50px;

    box-sizing: border-box;
    border-radius: 4px;
    margin-right: 12px;

    @media (min-width:768px) {
        margin-left: 140px;
    }
}

.label-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.label-tutorial {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--primary-dark-txt);
    margin-bottom: 20px;

}
.label-button {
    text-decoration: none;
    display: inline-flex;
    padding: 0;
    margin: 0;
    border: transparent;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    fill: var(--primary-dark-txt);
    color: var(--primary-dark-txt);
    cursor: pointer;
    margin-left: 140px;
    justify-content: center;

    @media (min-width:768px) {
        margin-left: 270px;
    }
}

.label-span {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

