:root {
    /* Основні шрифти */
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    /*Світла тема тексту*/
    --accent-txt: #2196F3;
    --primary-light-txt: #212121;
    --secondary-light-txt: #757575;
    /*Темна тема тексту*/
    --primary-dark-txt: #FFFFFF;
    --secondary-dark-txt: rgba(255, 255, 255, 0.6);
    /*Світла тема фону*/
    --primary-light-bg: #F5F4FA;
    /*Темна тема фону*/
    --primary-dark-bd: #2F303A;
    --color-letra: #AFB1B8;
    --background: #212b33;
}
